                <%= image_tag("rateTable.png", id: "rateTable") %>
                <span id="starCounter">0.0</span>
                <div class="starRating"> 
                    <span id="star1" class="star fa fa fa-star"></span>
                    <span id="star2" class="star fa fa fa-star"></span>
                    <span id="star3" class="star fa fa fa-star"></span>
                    <span id="star4" class="star fa fa fa-star"></span>
                    <span id="star5" class="star fa fa fa-star"></span>
               </div>

             <% @items.each do |item| %>
               <div id="<%= item.id %>" class="draggable1 draggable greyedOut fairValue" name="<%= item.item_name %>" title="Log in. Then move this ball to rate an item...doubleclick to add a text rating." style="position: absolute; left:<%= item.xRating * 0.895962732919255 %>%; bottom: <%= item.yRating * 0.78%>%"><a href="<%= item.item_url %>" target="_blank"><p class="itemName" style="display: block;"><%= item.item_name %>™</p></a>
                    <%= image_tag('speechbubble.png', :class => "speechBubble", :size => '150x150') %><p class="ratings"><%= pluralize(item.votes, 'rating') %></p>
               </div>
              <% end %> 

               






                    <?php
                    // $search_term="";
                    // if (isset($_GET["s"])) {
                    //   $search_term = trim($_GET["s"]);
                    //   if ($search_term != "") {
                    //   $position_of_vs_term = position_of_vs_term_in_the_search($search_term);
                    //     if ($position_of_vs_term !== 0) {
                    //         $firstSearchTerm = trim(substr($search_term, 0, ($position_of_vs_term) ));
                    //         $length_of_vs_term = length_of_vs_term_in_the_search($search_term);
                    //         $secondSearchTerm = trim(substr($search_term, ($position_of_vs_term + $length_of_vs_term),100));
                    //         $length_of_vs_term = length_of_vs_term_in_the_search($search_term);
                    //         get_draggable_balls($firstSearchTerm); 
                    //         get_draggable_balls($secondSearchTerm);   

                    //         // print_textratings_to_screen($firstSearchTerm);
                    //         // print_textratings_to_screen($secondSearchTerm);

                    //     } else {
                    //         get_draggable_balls($search_term);

                    //         // print_textratings_to_screen($search_term);


                    //         } 
                    //       } 
                    //     }
                    ?>
                    <?php
                    // is this running????
                    // $item = 'citibank'; 
                    //   $query = "SELECT COUNT(items_table.itemId) AS votes, items_table.itemId, items_table.itemName "; 
                    //   $query .= "FROM ratings_table "; 
                    //   $query .= "JOIN items_table ON ratings_table.itemId=items_table.itemId ";
                    //   $query .= "WHERE items_table.itemName = '{$item}'";
                    //   $ratingBubble = mysqli_query($connection, $query);
                    //   if (!$ratingBubble) {
                    //     die("Database query rating bubble failed");
                    //     echo "not able to get rating bubble";
                    //   }
                    ?>
<!-- important divs that keep the draggable, stars, dollars in the same parent element for accurate ratings -->
              </div>