<h3 class="trending" id="trendingVsHeadline"> Trending <em>a vs. b</em> Searches </h3>
    <div id="trendingBox">                
      <ul>
        <li class="trendingVS"><%= link_to 'uber vs. lyft', root_path(:search => "ubervs.lyft") %></li><br/>
        <li class="trendingVS"><%= link_to 'geico vs. progressive', root_path(:search => "geicovs.progressive") %></li><br/>
        <li class="trendingVS"><%= link_to 'discover home loans vs. quicken loans', root_path(:search => "discover home loansvs.quicken loans") %></li><br/>
        <li class="trendingVS"><%= link_to 'geico vs. state farm', root_path(:search => "geico vs. state farm") %></li><br/>
        <li class="trendingVS"><%= link_to 'southwest vs. virgin', root_path(:search => "southwest vs. virgin") %></li><br/>
        <li class="trendingVS"><%= link_to 'southwest vs. delta', root_path(:search => "southwest vs. delta") %></li><br/>
        <li class="trendingVS"><%= link_to 'betty ford vs. hazelden', root_path(:search => "betty ford vs. hazelden") %></li><br/>     
      </ul>
    </div>