  <div class="row row_border">
    <div class="large-2 medium-2 show-for-medium-up columns section_border"></div>
    <div class="large-8 medium-8 small-12 columns section_border">
      <%= render 'search_bar' %>
    </div>
    <div class="large-2 medium-2 show-for-medium-up columns section_border"></div>
  </div>
  <div class="row row_border">
    <div class="large-2 medium-2 show-for-medium-up columns trendingBox section_border"></div>
    <div class="large-8 medium-8 small-12 columns section_border">
      <div id="rateTableFrame">
        <%= render 'dollars_on_the_y_axis' %>  
        <div id="rateTableScreenCapture">
        <div id="containmentWrapper"></div>
        <%= render 'ratings_table' %>        
        </div>
        <button id="rateNowButton" class="<%= 'disabled' unless user_signed_in? %>" title="Sign up or log in to add your ratings. You will rate all visible balls, so remove any balls you don't want to rate prior to clicking this button.  To delete a ball, click to select the ball (it will be highlighted in yellow) and press the DELETE key to remove the ball.">Rate It!</button>
        <div id="WhiteSpaceFill"></div>
        </div>
        <div class="large-1 medium-2 small-12 columns section_border">
        </div>
    </div>           
  </div>
<div class="row row_border">
  <hr>
</div>
<div class="row row_border">
  <div class="large-7 medium-7 small-12 columns section_border">    
    <%= render 'content' %>
  </div>
  <div class="large-5 medium-5 show-for-medium-up columns section_border">
    <%= render 'trending_stuff' %>
    <%= render 'popular_stuff' %>
    <br/>
    <br/>
    <br/>
    <%= render 'adsense_A' %>
    <br/>
    <br/>
    <br/>
    <%= render 'adsense_B' %>
    <br/>
    <br/>
    <br/>
    <%= render 'adsense_A' %>
    <br/>
    <br/>
    <br/>
    <%= render 'adsense_B' %>                
  </div>
</div>

<!-- hack to add user_logged_in? to javascript
 -->
 <script type="javascript">
  userloggedin = <% user_signed_in? ? 'true' : 'false' %>
</script>


