<div class="container-fluid">
  <div class="row row_border">
    <div class="large-12 medium-12 small-12 columns section_border header_spacer"></div>
  </div>
  <div class="row">
    <div class="large-5 medium-5 small-12 columns section_border">
      <div id="logo3-container" class="logo" alt="RateStuf logo">
        <p id="logo3">Ratestuf<span id="dotOrg">.org</span></p>
        <p id="logo3trademark" >&trade;</p>
        <p id="logo3tagline">rate BRANDS and find the best stuf<span style="margin-left:1px;margin-top:0px" id="logo3-falling-f">f.</span></p>
      </div>
    </div>
    <div class="large-3 medium-3 show-for-medium-up columns section_border"></div>
    <div class="large-4 medium-4 small-12 columns show-for-medium-up section_border">
        <% if true %>
          <%= link_to("Login", "#", id: "loginFacebook", alt: "Log in with Facebook", title: "Log in to add your ratings") %>
          <p id="fbTagline">Log in to add YOUR ratings...</p>
        <% end %>
      </div>
  </div>
  <div class="row row_border">
    <div class="large-2 medium-2 show-for-medium-up columns section_border"></div>
    <div class="large-8 medium-8 small-12 columns section_border">
      <%= render 'search_bar' %>
    </div>
    <div class="large-2 medium-2 show-for-medium-up columns section_border"></div>
  </div>
  <div class="row row_border">
    <div class="large-2 medium-2 show-for-medium-up columns trendingBox section_border">
      <button type="submit" id="show"> Show Filters </button><button type="submit" id="hide"> Hide Filters </button>
    </div>
    <div class="large-8 medium-8 small-12 columns section_border">
      <div id="rateTableFrame">
        <%= render 'dollars_on_the_y_axis' %>  
        <div id="dialog-message" title="" data-itemId="" data-itemName="" data-xRating="" data-yRating="">
          <span class="dialogBall" style="float:left; margin:0 7px 50px 0;"></span> 
          <span id="dialogItemName"></span>
          <textarea class="dialogTextArea"></textarea> 
        </div>
        <div id="rateTableScreenCapture">
        <div id="containmentWrapper"></div>
        <%= render 'ratings_table' %>        
        </div>
        <button id="rateNowButton" class="<?php if (!$user) {echo 'disabled '; } ?>" title="Sign up or log in to add your ratings. You will rate all visible balls, so remove any balls you don't want to rate prior to clicking this button.  To delete a ball, click to select the ball (it will be highlighted in yellow) and press the DELETE key to remove the ball.">Rate Now!</button>
        <div id="WhiteSpaceFill"></div>
    </div>
  <div class="large-1 medium-2 small-12 columns section_border">
  </div>
  </div>           
  </div>
<div class="row row_border">
  <div class="large-7 medium-7 small-12 columns section_border">    
    <div id="DynamicRatingsSection"></div>
    <%= render 'content' %>
  </div>
  <div class="large-5 medium-5 show-for-medium-up columns section_border">
    <%= render 'trending_stuff' %>
    <%= render 'popular_stuff' %>
    <br/>
    <br/>
    <br/>
    <%= render 'adsense2' %>
    <br/>
    <br/>
    <br/>
    <%= render 'adsense3' %>
    <br/>
    <br/>
    <br/>
    <%= render 'adsense4' %>
    <br/>
    <br/>
    <br/>
    <%= render 'adsense5' %>                
  </div>
</div>



