<%= image_tag("rateTable.png", id: "rateTable") %>
  <span id="starCounter">0.0</span>
  <div class="starRating"> 
      <span id="star1" class="star fa fa fa-star"></span>
      <span id="star2" class="star fa fa fa-star"></span>
      <span id="star3" class="star fa fa fa-star"></span>
      <span id="star4" class="star fa fa fa-star"></span>
      <span id="star5" class="star fa fa fa-star"></span>
 </div>
    <% @items.each do |item| %>
     <div id="<%= item.id %>" class="draggable1 draggable greyedOut fairValue" name="<%= item.name %>" title="Log in. Then move this ball to rate an item." style="position: absolute; left:<%= item.xRating * 0.895962732919255 %>%; bottom: <%= item.yRating * 0.78%>%"><a href="<%= item.url %>" target="_blank"><p class="itemName" style="display: block;"><%= item.name %>™</p></a>
          <%= image_tag('speechbubble.png', :class => "speechBubble", :size => '150x150') %><p class="ratings"><%= pluralize((item.votes - 1), 'rating') %></p>
     </div>
    <% end %>  
</div>