  <div class="row row_border">
    <div class="large-2 medium-2 show-for-medium-up columns section_border"></div>
    <div class="large-8 medium-8 small-12 columns section_border">
      <%# render 'testing_code' %>
      <%= render 'search_bar' %>
    </div>
    <div class="large-2 medium-2 show-for-medium-up columns section_border"></div>
  </div>
  <div class="row row_border">
    <div class="large-2 medium-2 show-for-medium-up columns trendingBox section_border"></div>
    <div class="large-8 medium-8 small-12 columns section_border">
      <div id="rateTableFrame">
        <%= render 'dollars_on_the_y_axis' %>  
        <div id="rateTableScreenCapture">
          <div id="containmentWrapper"></div>
          <%= render 'ratings_table' %>        
        </div>
          <%= render 'rate_now_button' %>  
        </div>
  <div class="large-1 medium-2 small-12 columns section_border"></div>
    </div>           
  </div>
<div class="row row_border">
  <hr>
  <%# render 'embedded_webpage' %>
</div>
<div class="row row_border">
  <div class="large-7 medium-7 columns section_border show-for-medium-up">    
    <%= render 'content' %>
  </div>
  <div class="large-5 medium-5 show-for-medium-up columns section_border">
    <%= render 'trending_stuff' %>
    <%# render 'popular_stuff' %>
    <br/>
    <br/>
    <br/>
    <%= render 'adsense_A' %>
    <br/>
    <br/>
    <br/>
    <%= render 'adsense_B' %>
    <br/>
    <br/>
    <br/>
    <%= render 'adsense_A' %>
    <br/>
    <br/>
    <br/>
    <%= render 'adsense_B' %>                
  </div>
</div>

<%= javascript_tag do %>
  userloggedin = "<%=j user_signed_in? ? 'true': 'false' %>";

<% end %>

